<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blog Posts</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 font-sans antialiased">
    <!-- Navbar -->
    <nav class="bg-blue-600 p-4 text-white flex justify-between">
        <div>
            <!--h1 class="text-3xl font-bold">AI Blog Generator</h1> -->
            <a href = "/" class = "text-3xl text-white font-bold ">AI Blog Generator</a>
        </div>
        <div>
            <a href ="#" class = "text-white mx-4">Welcome {{user.username}}</a>
            <a href ="/blog-list" class = "text-white hover:underline mx-4">Saved Blog Posts</a>
            <a href ="logout" class = "text-white hover:underline">Logout</a>
        </div>
    </nav>

    <br>
    <br>

    <!-- Main Content Container-->
    <div class="flex grow container mt-10 mx-auto px-4 sm:px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
            <!-- Blog Post Section -->
            <section>
                <h2 class="text-xl font-semibold mb-4">All Blog Posts</h2>
                <div class="mt-2 text-gray-700 space-y-4">

                    {% for blog in blog_articles reversed %}
                    <a href = "blog-details/{{blog.id}}">
                        <div class="border border-gray-300 p-4 rounded-lg">
                            <h3 class="text-lg font-semibold">{{blog.youtube_title}} 1</h3>
                            <p>{{blog.generated_content|truncatechars:80}}</p>
                        </div>
                    </a>
                    {% endfor %}
                    
                    
                    <!-- Add more blog posts here -->
                    
                </div>
            </section>
        </div>
    </div>
    
    <footer class=" text-center p-4 text-black mt-6">
        Connect with Noel on <a href="https://www.linkedin.com/in/noel2206/" class = "text-blue bg-black-100 hover:underline transition-colors">LinkedIn</a>
    </footer>
</body>
</html>